.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #f9fafb;
}

.auth-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-left img {
  max-width: 80%;
  height: auto;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.auth-box {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.auth-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.auth-box form {
  display: flex;
  flex-direction: column;
}

.auth-box label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.auth-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
}

.auth-box input:focus {
  border-color: #4f46e5;
}

.auth-box button {
  margin-top: 15px;
  padding: 10px;
  background: #3f65a1;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.auth-box button:hover {
  background: #354f79;
}

#googlebtn {
  margin: 20px auto;
  background: #fff;
  color: #333;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  width: 80%;
}

#googlebtn img {
  width: 20px;
  margin-right: 10px;
}

.auth-box p {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.toggle-link {
  color: #3f65a1;
  cursor: pointer;
  font-weight: 500;
}
